<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
<body>
<script src="../../nettside/js/main.js"></script>

<ul>
    <div class="sidebar">
        <li id="home"><a href="../html/index.html">home</a></li>
        <a href="{{ url_for('about') }}">About</a>
    </div>
</ul>

<div class="imgSun">
    <img src="../images/sun.png">
</div>

<div class="imgCloud">
    <img src="../images/cloud.png">
</div>

<div class="userInputBackground">
    <form>
        <div class="userInput">
        <h1 id="userInputHeader">userinput</h1>
        <label for="inputLand">Land: </label><br>
        <input type="text" id="inputLand" name="inputLand"><br>
        <label for="inputBy">By: </label><br>
        <input type="text" id="inputBy" name="inputBy">
        </div>
    </form>
    <br>
    <button id="buttonSubmit">Submit</button>
</div>

</body>
</html>